/*===== HEADER =====*/

.header {
    width: 100%;
    height: 5rem; 
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: rgb(153, 153, 153);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;

    @media screen and (min-width: 769px) {
        height: 0;
        background-color: transparent;
    }
    .logoToggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .nav__img {
            flex: 0 0 50%;
        }
        @media screen and (min-width: 769px) {
            display: none;
        }
    }

    &__toggle {
        flex: 0 0 20%;
        font-size: 1.5rem;
        color: $white;
        cursor: pointer;
        //position: relative;
        //left: 90%;
        //top: 25%;

        @media screen and (min-width: 769px) {
            display: none;
        }
    }
}

@media screen and (min-width: 769px) {
    .header-scrolled {
        background-color: $white;
        height: 8.75rem;
    }
}

.header-transparent {
    background-color: transparent;
}

.nav {
    width: 100%;
    padding-bottom: 2px;
    padding-top: 3.5rem;

    @media screen and (max-width: 768px) and (orientation:portrait){
        position: fixed;
        top: 0;
        left: -100%;
        background-color: $primaryColor;
        color: $white;
        width: 68%;
        height: 75vh;
        padding: 1.5rem 0;
        z-index: 100;
        -webkit-transition: .5s;
        transition: .5s;
    }
    @media screen and (max-width: 768px)  and (orientation:landscape){
        position: fixed;
        top: 0;
        left: -100%;
        background-color: $primaryColor;
        color: $white;
        width: 68%;
        height: 80vh;
        padding: 1.5rem 0;
        z-index: 100;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .nav-display {

        @media screen and (min-width: 769px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 8%;
        }
    }

    &__list {
        i {
            color: $secondaryColor;
            i {
                font-size: .8rem;                
            }
        }
        @media screen and (min-width: 769px) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }

    &__close {
        position: absolute;
        right: 1.5rem;
        font-size: 1.3rem;
        padding: .25rem;
        background-color: $dark-color-alt;
        border-radius: 50%;
        cursor: pointer;
    }

    &__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: hidden;
        a {
            margin: 0;
            padding: 0;
        }
        img {
            width: 240px;
            @media only screen and (max-width:768px) {
                width: 130px;
            }
        }
    }

    &__name {
        display: block;
        color: $white;
    }

    &__menu {
        padding-left: 2rem;
        font-size: .9rem;
    }

    &__item {
        margin: 2.5rem 0;
        font-weight: bold;

        @media screen and (min-width: 769px)  and (orientation:portrait){
            margin: 0.25rem;
        }
        @media screen and (max-width: 768px)  and (orientation:landscape){
            margin: 1rem;
        }
    }

    &__link {
        color: $primaryColor;

        @media screen and (max-width: 769px) {
            color: $white;
        }
    }

    &__close {
        @media screen and (min-width: 769px) {
            display: none;
        }
    }

    &__link {
        padding: .5rem .8rem;
        border-radius: .25rem;

        &:hover {
            color: $secondaryColor;
        }
    }

    .active {
        color: $secondaryColor;

        @media screen and (max-width: 768px) {
            color: $secondaryColor;
        }
    }
}

.line {
    h6 {
        display: inline;
        font-size: .7rem;
    }

    i {
        color: $secondaryColor;
        font-size: .5rem;
        margin-right: 5px;
        margin-left: 5px;
    }

    &::before,
    &::after {
        display: inline-block;
        content: "";
        border-top: 1px solid rgb(207, 207, 207);
        width: 20%;
        margin: 1rem;
        transform: translateY(.5rem);

        @media(min-width:1740px) {
            width: 22%;
        }

        @media(max-width:1540px) {
            width: 25%;
        }
    }

    &::before {
        margin-left: 9%;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.separator {
    content: "";
    height: 6.4rem;

    @media screen and (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 769px) and (max-width: 1148px) {
        height: 4.1rem;
    }
}

/*Aparecer menu*/
.show {
    left: 0;
}