@charset "UTF-8";
/*===== HEADER =====*/
.header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: #4a4a4d;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
@media screen and (min-width: 769px) {
  .header {
    height: auto;
    background-color: transparent;
  }
}
.header__toggle {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  left: 90%;
  top: 25%;
}
@media screen and (min-width: 769px) {
  .header__toggle {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .header-scrolled {
    background-color: #fff;
  }
}
.header-transparent {
  background-color: transparent;
}

.nav {
  width: 100%;
  padding-bottom: 2px;
  padding-top: 3.5rem;
}
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #4a4a4d;
    color: #fff;
    width: 68%;
    height: 65vh;
    padding: 1.5rem 0;
    z-index: 100;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media screen and (min-width: 769px) {
  .nav .nav-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8%;
  }
}
.nav__list i {
  color: #f18624;
}
.nav__list i i {
  font-size: 0.8rem;
}
@media screen and (min-width: 769px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: #282B3A;
  border-radius: 50%;
  cursor: pointer;
}
.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.nav__img a {
  margin: 0;
  padding: 0;
}
.nav__img img {
  width: 280px;
}
@media only screen and (max-width: 768px) {
  .nav__img img {
    width: 130px;
  }
}
.nav__name {
  display: block;
  color: #fff;
}
.nav__menu {
  padding-left: 2rem;
  font-size: 0.9rem;
}
.nav__item {
  margin: 2.5rem 0;
}
@media screen and (min-width: 769px) {
  .nav__item {
    margin: 0.25rem;
  }
}
.nav__link {
  color: #4a4a4d;
}
@media screen and (max-width: 769px) {
  .nav__link {
    color: #fff;
  }
}
@media screen and (min-width: 769px) {
  .nav__close {
    display: none;
  }
}
.nav__link {
  padding: 0.5rem 0.8rem;
  border-radius: 0.25rem;
}
.nav__link:hover {
  color: #f18624;
}
.nav .active {
  color: #f18624;
}
@media screen and (max-width: 768px) {
  .nav .active {
    color: #f18624;
  }
}

.line h6 {
  display: inline;
  font-size: 0.7rem;
}
.line i {
  color: #f18624;
  font-size: 0.5rem;
  margin-right: 5px;
  margin-left: 5px;
}
.line::before, .line::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #cfcfcf;
  width: 20%;
  margin: 1rem;
  transform: translateY(0.5rem);
}
@media (min-width: 1740px) {
  .line::before, .line::after {
    width: 22%;
  }
}
@media (max-width: 1540px) {
  .line::before, .line::after {
    width: 25%;
  }
}
.line::before {
  margin-left: 9%;
}
@media screen and (max-width: 768px) {
  .line {
    display: none;
  }
}

.separator {
  content: "";
  height: 6.4rem;
}
@media screen and (max-width: 768px) {
  .separator {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1148px) {
  .separator {
    height: 4.1rem;
  }
}

/*Aparecer menu*/
.show {
  left: 0;
}

@font-face {
  font-family: "fontHeading";
  src: url("fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: "fontFamily";
  src: url("fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
/*************
Basic styles
**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "fontFamily";
  color: #4a4a4d;
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}

h1 {
  font-family: "fontHeading";
  font-size: 5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/**************
o nama
**************/
.about {
  height: 70vh;
  text-align: center;
  position: absolute;
  margin-bottom: 120px;
  background-image: url(images/bgrAbout.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  .about {
    position: relative;
    height: 90vh;
    margin-bottom: 0;
    background-image: url(images/bgrAboutMobile.png);
    background-attachment: scroll;
  }
}
@media screen and (min-width: 769px) and (max-width: 1540px) {
  .about {
    position: relative;
    height: 85vh;
  }
}
.about .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.about .container h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .about .container h2 {
    padding-top: 100px;
  }
}
.about .container .aboutText {
  height: 70vh;
  flex: 0 0 65%;
  display: block;
  padding: 100px 40px 60px 180px;
  margin-bottom: 15px;
  background: rgba(128, 128, 128, 0.7);
  color: #4a4a4d;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: bold;
}
@media only screen and (max-width: 1366px) {
  .about .container .aboutText {
    padding: 5px 10px;
  }
}
@media only screen and (max-width: 768px) {
  .about .container .aboutText {
    font-size: 0.8rem;
    height: 90vh;
    padding: 30px 10px;
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1540px) {
  .about .container .aboutText {
    font-size: 1.1rem;
    height: 85vh;
    padding: 100px;
    padding-bottom: 120px;
  }
}

/**************
superJufka
**************/
.superJufka {
  padding-bottom: 4rem;
  padding-top: 7rem;
}
@media only screen and (max-width: 768px) {
  .superJufka {
    margin-top: 0;
    padding-top: 4rem;
  }
}
.superJufka .container h2 {
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .superJufka .container h2 {
    font-size: 1.8rem;
  }
}
.superJufka .container .tftText {
  font-family: "Marck Script", cursive;
  font-size: 2rem;
  color: #4a4a4d;
  text-align: center;
  margin-top: 1.5rem;
}
.superJufka .container p {
  font-size: 1.1rem;
  text-align: justify;
}
.superJufka .container .jufkaSection1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
}
.superJufka .container .jufkaSection1 .tftBenefits {
  flex: 0 0 28%;
  border-radius: 10px;
  height: 260px;
  box-shadow: 2px 1px 1px 2px #4a4a4d;
  padding: 35px 22px;
}
@media only screen and (max-width: 768px) {
  .superJufka .container .jufkaSection1 .tftBenefits {
    flex: 0 0 100%;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    padding: 30px 20px 0px 30px;
  }
}
.superJufka .container .jufkaSection1 .tftBenefits i {
  color: #31663c;
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  .superJufka .container .jufkaSection1 .tftBenefits li {
    margin-bottom: 5px;
  }
}
.superJufka .container .jufkaSection1 .text {
  flex: 0 0 40%;
}
@media only screen and (max-width: 768px) {
  .superJufka .container .jufkaSection1 .text {
    flex: 0 0 100%;
    margin-bottom: 2rem;
  }
}
.superJufka .container .jufkaSection1 .tftImg {
  flex: 0 0 28%;
}
@media only screen and (max-width: 768px) {
  .superJufka .container .jufkaSection1 .tftImg {
    flex: 0 0 100%;
  }
}
.superJufka .container .jufkaSection1 .tftImg img {
  border-radius: 25px;
  margin-bottom: 2rem;
}

/**************
priprema
**************/
.priprema {
  padding: 1rem 0 4rem 0;
  scroll-behavior: smooth;
  background-image: linear-gradient(rgba(236, 235, 235, 0.8), rgba(245, 241, 241, 0.8)), url(images/bgrTFT.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media only screen and (max-width: 768px) {
  .priprema .text-wr {
    width: 80%;
    margin: 0 auto;
  }
}
.priprema h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #4a4a4d;
  padding-top: 8rem;
}
@media only screen and (max-width: 768px) {
  .priprema h3 {
    font-size: 1.8rem;
    padding-top: 6rem;
  }
}
.priprema h5 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 4rem;
  color: #4a4a4d;
  font-family: "Marck Script", cursive;
}
@media only screen and (max-width: 768px) {
  .priprema h5 {
    font-size: 1.4rem;
  }
}
.priprema .video {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .priprema .video iframe {
    height: 300px;
  }
}
.priprema .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media only screen and (max-width: 768px) {
  .priprema .container {
    width: 100%;
  }
}
.priprema .container article {
  flex: 0 0 40%;
  margin-bottom: 3rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3%;
  padding: 2rem;
}
@media only screen and (max-width: 768px) {
  .priprema .container article {
    flex: 0 0 100%;
  }
}
.priprema .container article h2 {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
  .priprema .container article h2 {
    font-size: 1.1rem;
  }
}
.priprema .container article p {
  margin-bottom: 2rem;
  text-align: justify;
}
@media only screen and (max-width: 768px) {
  .priprema .container article p {
    font-size: 1rem;
  }
}
.priprema .container article img {
  width: 70%;
  border-radius: 10px;
}
@media only screen and (max-width: 768px) {
  .priprema .container article img {
    width: 100%;
  }
}

/**************
Time for taste
**************/
.tft {
  background-image: linear-gradient(rgba(236, 235, 235, 0.8), rgba(245, 241, 241, 0.8)), url(images/bgrTesto.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 600px;
  height: 60vh;
  color: #4a4a4d;
  padding-top: 9rem;
}
@media screen and (max-width: 768px) {
  .tft {
    margin-top: 0;
    padding-top: 7rem;
    height: 185vh;
  }
}
@media screen and (min-width: 769px) and (max-width: 1540px) {
  .tft {
    margin-top: -10%;
    height: 110vh;
  }
}
.tft .imgHeading {
  width: 20%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .tft .imgHeading {
    width: 60%;
  }
}
.tft h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .tft h2 {
    font-size: 1.8rem;
  }
}
.tft p {
  text-align: justify;
  font-size: 1.3rem;
}
@media screen and (max-width: 768px) {
  .tft p {
    font-size: 1.1rem;
  }
}

/**************
footer
**************/
footer .logotips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
footer .logotips article:nth-child(1) {
  flex: 0 0 15%;
}
@media only screen and (max-width: 768px) {
  footer .logotips article:nth-child(1) {
    flex: 0 0 35%;
    margin-bottom: 2rem;
  }
}
footer .logotips article:nth-child(2) {
  flex: 0 0 20%;
}
@media only screen and (max-width: 768px) {
  footer .logotips article:nth-child(2) {
    flex: 0 0 45%;
    margin-bottom: 2rem;
  }
}
footer .logotips article:nth-child(3) {
  flex: 0 0 20%;
}
@media only screen and (max-width: 768px) {
  footer .logotips article:nth-child(3) {
    flex: 0 0 45%;
  }
}
footer .logotips article:nth-child(4) {
  flex: 0 0 15%;
}
@media only screen and (max-width: 768px) {
  footer .logotips article:nth-child(4) {
    flex: 0 0 35%;
  }
}
footer .contact {
  text-align: center;
  background-color: #999999;
  color: #fff;
  padding: 20px;
}
footer .contact .data h4 {
  font-size: 1.6rem;
  font-family: "fontFamily";
}
@media only screen and (max-width: 768px) {
  footer .contact .data h4 {
    font-size: 1.3rem;
  }
}
footer .contact .data i {
  margin: 30px;
}
@media only screen and (max-width: 768px) {
  footer .contact .data i {
    margin: 10px;
  }
}
footer .contact .data i a {
  color: #fff;
  font-size: 1.1rem;
}
@media only screen and (max-width: 768px) {
  footer .contact .data i a {
    font-size: 1rem;
  }
}
footer .contact .data i a:hover {
  color: #f18624;
  transition: 0.4s ease;
}
@media only screen and (max-width: 768px) {
  footer .contact .copy {
    margin-top: 30px;
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
